@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.content-section h3 { font-size: 1.25rem; font-weight: 600; color: rgb(255 255 255); }
.content-section h4 { font-size: 1.125rem; font-weight: 500; color: rgb(226 232 240); }
.content-section p { line-height: 1.75; }
.content-section ul { list-style-type: disc; padding-left: 1.5rem; }
.content-section li { margin-top: 0.5rem; }
